
body {
  margin: 0;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;

  font-size: 0;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

.dev-shadows,
.dev-shadows * {
  box-shadow: 0 0 1px hsla(0,0%,0%,0.3);
}
